<html>
    <head>
        <meta charset="utf-8">
        <title>Create a new Fruit</title>
    </head>
    <body>
        <h1>New Fruit page</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/graetful" method="POST">
            What Are You Graetful for ?: <input type="text" name="textG" /><br/>
            <br/>
            <br/>
            <input type="submit" value="SUBMIT"/>
        </form>
    </body>
</html>